/* COLORS */
$barColor: hsl(240, 5%, 91%);
$barTextActiveColor: hsl(238, 29%, 16%);
$arrowColor: hsl(14, 88%, 65%);
$barTextColor: hsl(237, 12%, 33%);
$hiddenTextColor: hsl(240, 6%, 50%);


/* TEXT */
$font: 'Kumbh Sans', sans-serif;



